<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="primeiraTela.Properties.Settings.MassaFinaConnectionString"
            connectionString="Data Source=M4rkSeven;Initial Catalog=MassaFina;User ID=sa;Password=marob0107"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>